*{
    margin: 0;
    box-sizing: border-box;
}
main{
    text-align: center;
    align-items: center;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    min-width: 320px;
}
header{
    background-color: rgb(95, 146, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}
.img1{
    width: 30vw;
}
.img2{
    width: 35vw;
    text-align: left;
    padding-left: 10vw;
}
.img3{
    width: 30vw;
}
.img4{
    width: 70%;
    padding-right: 10%;
    padding-top: 0;
}
.img5{
    width: 95%;
}
/*section1*/
.d1{
    display: flex;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(22, 74, 151);
    padding: 20px;
}
.d2{
    font-size: 3rem;
    flex: 1;
    padding-top: 2vw;
    padding-right: 9vw;
}
.d3{
    color: rgb(23, 194, 23);
    font-size: 3rem;
    padding: 2vw;
}
.section2{
    background-color: rgb(67, 40, 92);
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    grid-template-columns: 1fr 1fr;
    column-gap: 10%;
    padding-top: 2%;
    padding-bottom: 3%;
}
.d4{
    color: rgb(243, 207, 107);
    text-align: left;
    align-items: center;
    padding-left: 10%;
    padding-right: 5%;
    font-size: 2.5rem;
}
.d5{
    color: rgb(0, 0, 0);
    text-align: left;
    padding-left: 10%;
    padding-right: 5%;
    font-size: 1.8rem;
}
button{
    background-color: rgb(23, 194, 23);
    cursor: pointer;
    border: 0;
    color: rgb(199, 243, 186);
    font-size: 1.5rem;
}
button:hover{
    background-color: beige;
    color: black;
}
.button1{
    padding: 15px 25px;
    border-radius: 29px;
}
.button2{
    padding: 8%;
    border-radius: 30px;
}
.button3{
    padding: 2% 1%;
    border-radius: 3px;
}
ul{
    list-style: none;
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 1.5rem;
    padding-left: 10%;
    align-items: center;
}
li::before{
    content: ✅;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.ul2{
    color: black;
    font-size: 1.3rem;
}
form{
    color: rgb(0, 0, 0);
    text-align: left;
    padding-right: 10%;
    font-size: 1.5rem;
    background-color: rgb(149, 73, 219);
}
input, select{
    padding: 3%;
    width: 100%;
    border-radius: 6px;
    border: 0;
}
.section3{
    background-color: rgb(127, 245, 245);
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10%;
}
.d6{
    font-size: 1.3rem;
    color: black;
    padding-top: 10%;
    padding-left: 5%;
}
.d7{
    padding-left: 10%;
    font-size: 1.3rem;
    text-align: left;
}
.d9{
    background-color: rgb(185, 220, 248);
    padding-top: 50px;
    padding-bottom: 50px;
}
.d10{
    font-size: 2.5rem;
}
.d11{
    background-color: blueviolet;
    display: inline-block;
    padding-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    -webkit-text-stroke: 2px white;
    color: blueviolet;
    text-shadow: 4px 4px 0 white;
    width: 50vw;
    height: 50vh;
}
.d12{
    padding: 50px;
    color: rgb(255, 255, 255);
}
.ahref3{
    color: rgb(255, 255, 255);
    font-weight: bold;
}
footer{
    background-color: rgb(18, 47, 126);
}
/*celular*/
@media screen and (max-width:678px){
    main{
        display: block;
        min-width: 320px;
        width: 100%;
    }
    header{
        background-color: rgb(95, 146, 240);
        width: 100%;
        padding: 0 50%;
    }
    .d1{
        display: flex;
        flex-direction: column;
        background-color: rgb(22, 74, 151);
        text-align: center;
        align-items: center;
        width: 100%;
        padding: 20px 5%;
    }
    .img2{
        width: 90%;
        height: auto;
        padding-right: 0;
    }
    .section2{
        color: black;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px 5%;
        background-color: rgb(151, 55, 214);
    }
    .img3{
        width: 90%;
        height: auto;
        margin: 10px auto;
    }
    form{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 5%;
        background-color: rgb(157, 68, 240);
    }
    .section3{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: rgb(104, 120, 172);
    }
    .d6{
        width: 100%;
        padding: 20px 10%;
    }
    .img4{
        width: 70%;
        padding: 0;
        height: auto;
    }
    .d9{
        background-color: rgb(185, 220, 248);
        width: 100%;
        padding: 2px 5%;
    }
    footer{
        background-color: rgb(18, 47, 126);
        width: 100%;
    }
}
/*tablet*/
@media screen and (min-width:679px) and (max-width:1023px){
    main{
        min-width: 320px;
        width: 100%;
    }
    header{
        background-color: rgb(18, 47, 126);
        width: 100%;
    }
    .d1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1%;
        background-color: rgb(240, 245, 190);
    }
    .d2{
        font-size: 2rem;
        padding: 20% 0;
    }
    .d3{
        font-size: 2rem;
        padding: 10% 0;
    }
    .button1{
        font-size: 1rem;
        padding: 30px;
    }
    .img2{
        width: 90%;
        padding: 0;
        height: auto;
    }
    .section2{
        background-color: rgb(241, 196, 156);
        padding: 5%;
    }
    .button2{
        font-size: 1.3rem;
    }
    .section3{
        column-gap: 5%;
        flex-wrap: wrap;
        background-color: rgb(92, 122, 255);
    }
    .d6{
        padding: 5%;
    }
    .img4{
        width: 40vw;
        padding-inline: 10px;
    }
    .d9{
        background-color: rgb(92, 122, 255);
    }
    footer{
        background-color: rgb(16, 15, 94);
    }
}

